{{> top title="Basic, panes outside selector"}}

	<div class="Tab">
		<ul class="Tab-items">
			<li class="Tab-item"><a href="#tab1" class="Tab-toggler">Tab 1</a></li>
			<li class="Tab-item"><a href="#tab2" class="Tab-toggler">Tab 2</a></li>
			<li class="Tab-item"><a href="#tab3" class="Tab-toggler">Tab 3</a></li>
		</ul>
	</div>

	<div class="Tab-panes">
		<div class="Tab-pane Tab-pane--1">
			<p>Pane 1</p>
		</div>
		<div class="Tab-pane Tab-pane--2">
			<p>Pane 2</p>
		</div>
		<div class="Tab-pane Tab-pane--3">
			<p>Pane 3</p>
		</div>
	</div>

	<script>

		$('.Tab').tabify({
			pane: '.Tab-pane'
		});

	</script>

{{> bottom}}
