{{> top title="Basic, with buttons"}}

	<div class="Tab">
		<ul class="Tab-items">
			<li class="Tab-item"><button type="button" class="Tab-toggler">Tab 1</button></li>
			<li class="Tab-item"><button type="button" class="Tab-toggler">Tab 2</button></li>
			<li class="Tab-item"><button type="button" class="Tab-toggler">Tab 3</button></li>
		</ul>
		<div class="Tab-panes">
			<div class="Tab-pane Tab-pane--1">
				<p>Pane 1</p>
			</div>
			<div class="Tab-pane Tab-pane--2">
				<p>Pane 2</p>
			</div>
			<div class="Tab-pane Tab-pane--3">
				<p>Pane 3</p>
			</div>
		</div>
	</div>

	<script>

		$('.Tab').tabify();

	</script>

{{> bottom}}
