{{> top title="Initial item at start, none"}}

	<div class="Tab">
		<ul class="Tab-items">
			<li class="Tab-item"><a href="#tab1" class="Tab-toggler" data-tab-id="tab1">Tab 1</a></li>
			<li class="Tab-item"><a href="#tab2" class="Tab-toggler" data-tab-id="tab2">Tab 2</a></li>
			<li class="Tab-item"><a href="#tab3" class="Tab-toggler" data-tab-id="tab3">Tab 3</a></li>
		</ul>
		<div class="Tab-panes">
			<div class="Tab-pane Tab-pane--1">
				<p>Pane 1</p>
			</div>
			<div class="Tab-pane Tab-pane--2" data-tab-id="tab2">
				<p>Pane 2</p>
			</div>
			<div class="Tab-pane Tab-pane--3" id="tab3">
				<p>Pane 3</p>
			</div>
		</div>
	</div>

	<script>

		$('.Tab').tabify({
			initial: false,
			create: function ( tab, pane ) {
				console.info('Created!');
				console.log(tab);
				console.log(pane);
			}
		});

	</script>

{{> bottom}}
