{{> top title="Move via position"}}

	<div class="controls">
		<button type="button" class="second-position">Move to second item via position</button><br />
		<button type="button" class="third-position">Move to third item via position</button><br />
		<button type="button" class="first-position">Move to first item via position</button><br />
	</div>

	<div class="Tab">
		<ul class="Tab-items">
			<li class="Tab-item"><a href="#tab1" class="Tab-toggler">Tab 1</a></li>
			<li class="Tab-item"><a href="#tab2" class="Tab-toggler">Tab 2</a></li>
			<li class="Tab-item"><a href="#tab3" class="Tab-toggler">Tab 3</a></li>
		</ul>
		<div class="Tab-panes">
			<div class="Tab-pane Tab-pane--1">
				<p>Pane 1</p>
			</div>
			<div class="Tab-pane Tab-pane--2">
				<p>Pane 2</p>
			</div>
			<div class="Tab-pane Tab-pane--3">
				<p>Pane 3</p>
			</div>
		</div>
	</div>

	<script>

		$('.second-position').on('click', function () {
			$('.Tab').tabify('move', 2);
		});

		$('.third-position').on('click', function () {
			$('.Tab').tabify('move', 3);
		});

		$('.first-position').on('click', function () {
			$('.Tab').tabify('move', 1);
		});

		$('.Tab').tabify();

	</script>

{{> bottom}}
